<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление</title>
</head>
<body>
<h1 align="center">Сервис управления данными организации</h1>
<div align="center">
<form method="post" action="/index">
    <table>
        <tr><td><a href="{{ url_for('techs_page') }} ">Страница техники</a></td></tr>
        <tr><td><a href="{{ url_for('rooms_page') }} ">Страница комнат</a></td></tr>
        <tr><td><a href="{{ url_for('workers_page') }} ">Страница работников</a></td></tr>
    </table>
</form>
</div>
</body>
</html>